@font-face {
  font-family: "IndieFlower";
  src: url("font/IndieFlower.ttf");
}
/* body of the html page */
body {
    background-color: lavender;
  }

  /* headers */
h1 {
    color: green;
    text-decoration:pink wavy underline;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 5pt;
    margin-top: 1cm;
    margin-right: 10px;
    display: block;
    font-family: IndieFlower;
  }
h2{
    color: rgb(34, 158, 152);
    background-color: gainsboro;
    margin-top: 2vh;
    margin-left: 10vm;
    margin-bottom: 1ex;
    /* display: block; */

    
}
h3{
    color:#000;
    margin: 10px 10px 10px 10px;
}
h4{
    color: hsl(134, 96%, 22%);
    margin: auto;
    display: inline;
}
p{
    padding-left: 5vw;
    padding-top: auto;
    padding-bottom: 1vh;
    padding-right: 5vw;
    border-color:rgb(34, 158, 152);
    border-style: dashed;
    border-width: 1px;
    border-radius: 1cm;
    display:  block;
}
div{
    padding: 10px, 3px, 3px, 3px;
    height: 25px;
    width: 30vw;
    max-width: fit-content;
    min-width: none;
}

.nav {
  background-color: black;
  list-style-type: disc;
  /* text-align: center; */
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: auto;
}
image{
  /* display: block; */
  position: static;
}
p:hover{
  color:coral;
}
p:active{
  text-decoration:pink underline;
}

button{
  position: relative;
  left: 75px;
}
details{
  display: flex;
}
fieldset{
  display: grid;
}
#Diagram_section{
  display: flex;
}
@media (max-width: 1000px) {
  body{
    background-color: gray;
    /* CSS will apply styles only if your browser's viewport width 
    is equal to or narrower than 12450px: */
  }

}